.tasksContainer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btnContainer {
    width: 100%;
    min-width: 334px;
    height: 38px;
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-top: 5.36vw;
    margin-bottom: 2.68vw;

}

.btn, .btn1, .btn2 {
    height: 36px;
    top: 20px;
    left: 20px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}
.btn {
    width: 58px;
    border: 2px solid rgba(48, 50, 75, 1);
    color: rgba(48, 50, 75, 1);
}
.btn:active, .activeBtn {
    background: rgba(48, 50, 75, 1);
    color: rgba(255, 255, 255, 1);
}

.btn:hover {
    background: rgba(87, 90, 132, 1);
    color: rgba(255, 255, 255, 1);
}
.btn:focus{
    background: rgba(48, 50, 75, 1);
    border: 2px solid rgba(164, 164, 164, 1);
    color: rgba(255, 255, 255, 1);
}
.btn1 {
    width: 118px;
    border: 2px solid rgba(106, 212, 0, 1);
    color: rgba(106, 212, 0, 1);
}
.btn1:active, .activeBtn1{
    background: rgba(106, 212, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.btn1:hover{
    border: 2px solid rgba(106, 212, 0, 1);
    background: rgba(206, 255, 157, 1);
    color: rgba(106, 212, 0, 1);


}
.btn1:focus {
    background: rgba(106, 212, 0, 1);
    border: 2px solid rgba(206, 255, 157, 1);
    color: rgba(255, 255, 255, 1);
}
.btn2 {
    width: 141px;
    border: 2px solid rgba(255, 47, 47, 1);
    color: rgba(255, 47, 47, 1);
}
.btn2:active, .activeBtn2{
    background: rgba(255, 47, 47, 1);
    color: rgba(255, 255, 255, 1);


}
.btn2:hover{
    background: rgba(255, 184, 184, 1);
    border: 2px solid rgba(255, 47, 47, 1);
    color: rgba(255, 47, 47, 1);
}
.btn2:focus{
    background: rgba(255, 47, 47, 1);
    border: 2px solid rgba(255, 184, 184, 1);
    color: rgba(255, 255, 255, 1);

}

@media (max-width: 768px) {
    .btnContainer {
        padding: 0 5px;
        gap: 5px;
    }

    .btn, .btn1, .btn2 {
        padding: 8px 12px;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 480px) {
    .btnContainer {
        gap: 5px;
        align-items: stretch;

    }

    .btn, .btn1, .btn2 {
        font-size: 14px;
        height: 31px;
        text-align: center;
        line-height: 14px;
        border:1px solid;
    }
}

